<div class="flex h-screen w-screen relative flex-col md:flex-row">
    <app-navigation></app-navigation>
    <main class="relative flex-1 overflow-y-auto p-[0.5rem] md:p-[2rem] flex flex-col items-center">
        <!-- Mobile: Toggle links, ABout Us rechts oben -->
        <div class="flex gap-4 items-center w-full justify-end md:hidden mr-4">
            <div class=" top-[2rem] left-[2rem] z-50">
                <button (click)="toggleTheme()" class="button-blue">
                    <fa-icon [icon]="theme === 'dark' ? faMoon : faLightbulb"></fa-icon>
                    {{ getThemeName() }}
                </button>
            </div>
            <div class=" top-[2rem] right-[2rem] z-50">
                <ng-container *ngTemplateOutlet="about_us"></ng-container>
            </div>
        </div>

        <!-- Desktop: Toggle + About Us rechts oben nebeneinander -->
        <div class="hidden md:flex absolute top-[2rem] right-[2rem] z-50 items-center gap-4">
            <button (click)="toggleTheme()" class="button-blue">
                <fa-icon [icon]="theme === 'dark' ? faMoon : faLightbulb"></fa-icon>
                {{ getThemeName() }}
            </button>
            <ng-container *ngTemplateOutlet="about_us"></ng-container>
        </div>
        <router-outlet></router-outlet>
    </main>
</div>

<ng-template #about_us>
    <a title="Über uns"
        routerLink="/about-us"
        class="cursor-pointer hover:text-[var(--text-hover)] transition-colors duration-300">
        <fa-icon [icon]="faCircleInfo"></fa-icon>
    </a>
</ng-template>
