<div class="flex h-screen w-screen relative flex-col md:flex-row">
    <app-navigation></app-navigation>

    <!-- Mobile: Toggle links, ABout Us rechts oben -->
    <div class="absolute top-[2rem] left-[2rem] z-50 md:hidden">
        <button (click)="toggleTheme()" class="button-blue">
            <i [ngClass]="theme === 'dark' ? 'fa-solid fa-moon' : 'fa-regular fa-lightbulb'"></i>
            {{ theme }}
        </button>
    </div>
    <div class="absolute top-[2rem] right-[2rem] z-50 md:hidden">
        <ng-container *ngTemplateOutlet="about_us"></ng-container>
    </div>

    <!-- Desktop (md+): Toggle + About Us rechts oben nebeneinander -->
    <div class="hidden md:flex absolute top-[2rem] right-[2rem] z-50 items-center gap-4">
        <button (click)="toggleTheme()" class="button-blue">
            <i [ngClass]="theme === 'dark' ? 'fa-solid fa-moon' : 'fa-regular fa-lightbulb'" class="mr-2"></i>
            {{ getThemeName() }}
        </button>
        <ng-container *ngTemplateOutlet="about_us"></ng-container>
    </div>

    <main class="relative flex-1 overflow-y-auto p-[0.5rem] md:p-[2rem] flex flex-col items-center">
        <router-outlet></router-outlet>
    </main>
</div>

<ng-template #about_us>
    <a
        title="Über uns"
        routerLink="/about-us"
        class="cursor-pointer hover:text-[var(--text-hover)] transition-colors duration-300"
    >
        <fa-icon [icon]="faCircleInfo"></fa-icon>
    </a>
</ng-template>

<ng-template #about_us>
    <a title="Über uns"
        routerLink="/about-us"
        class="cursor-pointer hover:text-[var(--text-hover)] transition-colors duration-300">
        <fa-icon [icon]="faCircleInfo"></fa-icon>
    </a>
</ng-template>
