:host {
    display: flex;
}

@media (width <= 768px) {
    :host {
        flex-direction: column;
    }
}

.about-us-fa-icon {
    transition: transform 0.3s ease-out;
    font-size: 1.5rem;
    display: inline-block;
}

.about-us-icon:hover .about-us-fa-icon {
    transform: scale(1.1);
}

