<div class="w-full flex justify-center background">
	<div class="flex flex-col items-center justify-center gap-5 md:gap-10 max-w-[75rem] w-full">

		<!-- Animated Unifail logo -->
        <div class="home-animation mt-5 md:mt-10">
            <div class="home-animation__container">
                <p class="home-animation__container__text">
                    UNIFAIL
                </p>
                <ul class="home-animation__container__list">
                    <li class="home-animation__container__list__item">Teile 🔗</li>
                    <li class="home-animation__container__list__item">Bewerte 🗳️</li>
                </ul>
            </div>
        </div>

        <app-post-preview [posts]=posts [loading]=loading class="w-full md:w-[90%] lg:w-[70%]"></app-post-preview>
	</div>
</div>
