<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="sharing stories and rating uni's">
	<meta name="keywords" content="uni, rating, fun, stories">
	<meta name="author" content="Daniel Ziegler, Leonie Reusch, Lisa Natterer">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/frontend/src/app/home/home.component.css">

	<title>Willkommen bei UNIFAIL!</title>
</head>
	<div class="image-container">
		<img src="assets/logoUNIFAIL.jpg" alt="Logo">
	</div>

	<h1>✨Teile deine UNI-fails und bewerte die der Anderen✨ </h1>

	<p>Space for more fancy stuff🛠️</p>

</html>


