:host {
    width: 100%;
}

.home-animation {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    line-height: 2em;
    color: var(--text-primary);
    text-align: left;
}

.home-animation__container {
    font-weight: 600;
    overflow: hidden;
    height: 2em;
    padding: 0 1.5em;
    position: relative;
    display: flex;
    gap: 1em;
}

/* Brackets */
.home-animation__container::before,
.home-animation__container::after {
    position: absolute;
    top: 0;
    color: #FCAA46;
    font-size: 1.625em;
    line-height: 1;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.home-animation__container::before {
    content: '[';
    left: 0;
}

.home-animation__container::after {
    content: ']';
    right: 0;
}

.home-animation__container__text {
    margin: 0;
}

/* rotation */
.home-animation__container__list {
    margin-top: 0;

    /* padding list */
    text-align: left;
    list-style: none;

    animation-name: rotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.home-animation__container__list__item {
    line-height: 2em;
    margin: 0;
}

/* KEYFRAMES Animationen */
@keyframes opacity {
    0%, 100% { opacity:0; }
    50% { opacity:1; }
}

@keyframes rotation {
    0% { transform: translateY(0); }

    /* 3.5s: Teile */
    35% { transform: translateY(0); }

    /* 1.5s: Teile -> Bewerte */
    50% { transform: translateY(-2em); }

    /* 3.5s Bewerte */
    85% { transform: translateY(-2em); }

    /* 1.5s: Bewerte -> Teile */
    100% { transform: translateY(0); }

    /* Neustart */
}

@media (width <= 500px) {
    .home-animation {
        font-size: 1.5rem;
    }

    .home-animation__container {
        padding: 0 1em;
    }
}

@media (width <= 320px) {
    .home-animation {
        font-size: 1rem;
    }
}
