/* Styling für den Hauptcontainer, der Bild und Text nebeneinander anordnet */
.header-container {
	display: flex; /* Aktiviert Flexbox */
	justify-content: center;
	align-items: center;
	gap: 2.5rem; /* Abstand ZWISCHEN dem Bild und dem Textblock*/
	padding: 1.25rem 0; /* Vertikales Padding für den gesamten Bereich */
	width: 100%;
	max-width: 75rem; /* maximale Breite des Layouts */
	margin: 0 auto;
}

.image-container {
	flex-shrink: 0;
}

img {
	width: 31.25rem;
	height: 8.75rem;
	object-fit: cover;
}

.text-content {
	display: flex; /* Macht die h1 und slogan-paragraphs zu Flex-Items */
	flex-direction: column;
	align-items: flex-start;
}

.main-heading {
	color: #C3E6FC;
	text-align: left;
	margin-bottom: 0.625rem; /* Abstand zwischen h1 und den Paragraphen */
}

.slogan-paragraphs {
	display: flex; /* Aktiviert Flexbox, um die Paragraphen nebeneinander zu setzen */
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.313rem; /* Abstand zwischen den beiden Paragraphen */
}

.slogan-paragraphs p {
	color: #f0f0f0;
	text-align: left;
	max-width: 25rem;
	margin: 0; /* entfernung Standard margin, für gap*/
}

.emoji {
	font-style: normal;
}

.disclaimer {
	font-style:italic;
}

body > p {
	color: #f0f0f0;
	text-align: center;
	margin-top: 2.5rem; /* Abstand zu dem darüber liegenden .header-container */
}
