<html>

<head>
	<link rel="stylesheet" href="/frontend/src/app/home/home.component.css">

	<title>Willkommen bei UNIFAIL!</title>
</head>
<body>
	<div class="header-container">
		<div class="image-container">
			<img src="assets/logoUNIFAIL.jpg" alt="Logo">
		</div>
		<div class="text-content"> <h1 class="main-heading">✨Teile und bewerte UNI-fails✨ </h1>
			<div class="slogan-paragraphs">
				<p>Teilt keine Hinweise auf die Identität von Personen</p>
				<p class="disclaimer">#wir wollen nicht verklagt werden  <span class="emoji">🥲 </span> </p>
			</div>
		</div>
	</div>

	<p>Space for more fancy stuff🛠️</p>

</body>
</html>
