<header class="relative p-4 z-20 shadow-lg h-full border-r border-[var(--border-color)]">
    <div class="flex flex-wrap justify-around items-center gap-1">
        <button
            *ngIf="isMobile"
            (click)="toggleMenu()"
            class="focus:outline-none cursor-pointer">
            <fa-icon [icon]="faBars" size="2x"></fa-icon>
        </button>
        <img
            src="assets/logo-unifail.jpg"
            alt="Unifail Logo"
            class="max-w-[15rem] p-[1rem] md:mx-auto"/>
    </div>

    <!-- DROPDOWN NAVIGATION -->
    <nav *ngIf="menuOpen" @dropdownAnimation class="overflow-hidden w-full">
        <ul class="flex flex-col space-y-2 py-4 whitespace-nowrap">
            <li>
                <a class="nav-item"
                   routerLink="/"
                   routerLinkActive="active-link">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a class="nav-item"
                   routerLink="/search"
                   routerLinkActive="active-link">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <span>Suche</span>
                </a>
            </li>
            <li>
                <a class="nav-item"
                   routerLink="/ranking"
                   routerLinkActive="active-link">
                    <fa-icon [icon]="faRankingStar"></fa-icon>
                    <span>Rangliste</span>
                </a>
            </li>
            <li>
                <a class="nav-item"
                   routerLink="/post"
                   routerLinkActive="active-link">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    <span>Post erstellen</span>
                </a>
            </li>
            <li>
                <a class="nav-item"
                   routerLink="/about-us"
                   routerLinkActive="active-link">
                    <fa-icon [icon]="faCircleInfo"></fa-icon>
                    <span>Über uns</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn; else login">
                <a class="nav-item"
                   routerLink="/my-account">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <span>Dein Konto</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a (click)="logout()" class="nav-item">
                    <fa-icon [icon]="faRightFromBracket"></fa-icon>
                    <span>Abmelden</span>
                </a>
            </li>
            <ng-template #login>
                <li>
                    <a class="nav-item"
                       routerLink="/login">
                        <fa-icon [icon]="faUser"></fa-icon>
                        Anmelden
                    </a>
                </li>
            </ng-template>
        </ul>
    </nav>
</header>

