:host {
    min-height: 100vh;
}

header, nav {
    background-color: var(--nav-background);
}

.nav-item {
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.25rem;
    transition: color .3s;
    padding: 2rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 1rem;
    min-width: fit-content;
    width: 100%;
}

.nav-item:hover {
    color: var(--text-hover);
    cursor: pointer;
}

nav > ul > li:first-child .nav-item {
    border-top: 1px solid var(--border-color);
}

nav > ul > li {
    width: 100%;
}

@media (width <= 768px) {
    :host {
        min-height: auto;
        width: 100%;
    }

    .nav-item {
        justify-content: center;
    }
}
