
<nav class = "navbar">
	<div class="navbar-logo">
		<img src="assets/logoUNIFAIL.jpg" alt="Logo" class="w-32 h-14 object-cover object-center" />	</div>

	<ul class = "navbar-links">
		<li><a routerLink="/">Home</a></li>
		<li> <a routerlink="/search">Suche</a></li>
		<li><a routerLink="/ranking">Rangliste</a></li>
		<li><a routerLink="/Post">Post</a></li>
		<li><a routerLink="/AboutUs">über uns</a></li>


	</ul>

	<div class = "navbar-actions">
		/* login/logout button here?*/
	</div>


</nav>
