<nav class="flex justify-between items-center bg-[#002244] px-5 py-2 shadow-md ml-0 mr-auto">
	<div class="navbar-logo">
		<img src="assets/logoUNIFAIL.jpg" alt="unifail-logo" class="w-36 h-12 object-cover object-center"/>
	</div>

	<ul class="flex list-none m-0 p-0 pr-5">
		<li><a routerLink="/" routerLinkActive="active-link" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700] ml-5">Home</a></li>
		<li> <a routerLink="/Search" routerLinkActive="active-link" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700] ml-5">Suche</a></li>
		<li><a routerLink="/Ranking" routerLinkActive="active-link" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700] ml-5">Rangliste</a></li>
		<li><a routerLink="/Post" routerLinkActive="active-link" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700] ml-5">Post</a></li>
		<li><a routerLink="/AboutUs" routerLinkActive="active-link" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700] ml-5">Wir🧚</a></li>
	</ul>


	<ul class="flex list-none m-0 p-0"> <li><a routerLink="/MyAccount" class="text-[#f0f0f0] no-underline font-medium px-0 py-1 transition-colors duration-300 hover:text-[#FFD700]">Du👤</a></li>
	</ul>

	<div class="navbar-actions pr-5">
	</div>
</nav>

