<div class="w-full min-h-full flex flex-col items-center justify-center">
    <div class="flex flex-col items-center gap-4 w-full md:w-[70%] lg:w-[80%] text-center">
        <h1 class="page-headline">✨ Über uns ✨</h1>
        <p class="text-base leading-relaxed">
            Hey DU!<br>
            Wir sind <strong>UNIFAIL</strong> – eine Webseite, auf der du deine besten Storys und Fails aus dem Hochschul- und Unileben teilen kannst.<br>
            Unsere Webseite ist <strong>anonym</strong>, damit du dir keine Sorgen machen musst, wer deinen Fail liest.
            Aber bitte: Teile keine Namen oder persönlichen Daten anderer Personen in deinen Posts.<br>
            Du kannst andere Posts upvoten und im Ranking sehen, welche Universität die meisten Upvotes hat.<br>
            Viel Spaß – und bitte verklagt uns nicht!<br>
            <em>Dein UNIFAIL-Team: <br> Daniel, Lisa, Leonie</em>
        </p>
    </div>

    <div class="text-center mt-10">
        <h1 class="page-headline">Impressum & Kontakt</h1>
        <p class="text-base leading-relaxed">
            Daniel Ziegler <br>
            Silcherstraße 37 <br>
            71672 Marbach am Neckar <br>
            <a href="mailto:danielziegler.1@gmx.de">danielziegler.1&#64;gmx.de</a>
        </p>
    </div>
</div>
