<div class="flex flex-col justify-center items-center w-full md:w-[80%] 3xl:w-[60%]">
    <h1 class="page-headline">Rangliste</h1>
    <h3 class="text-xl mb-10 text-center text-wrap">Universitäten und Hochschulen mit den meisten Up-Votes</h3>
    <div class="flex w-full">
        <div class="pedestal" #itemRef>
            <div *ngIf="rankedUnis.length >= 2" class="pedestal-head"
                 routerLink="/search" [queryParams]="{ q: rankedUnis[1]._id }">
                <p>{{ rankedUnis[1]._id }}</p>
                <p>{{ rankedUnis[1].totalUpvotes }} Votes</p>
            </div>
            <div class="pedestal-body h-[5rem] bg-[#A1C181]">
                <p>2</p>
            </div>
        </div>
        <div class="pedestal" #itemRef>
            <div *ngIf="rankedUnis.length >= 1" class="pedestal-head"
                 routerLink="/search" [queryParams]="{ q: rankedUnis[0]._id }">
                <p>{{ rankedUnis[0]._id }}</p>
                <p>{{ rankedUnis[0].totalUpvotes }} Votes</p>
            </div>
            <div class="pedestal-body h-[8rem] bg-[#FCCA46]">
                <p>1</p>
            </div>
        </div>
        <div class="pedestal" #itemRef>
            <div *ngIf="rankedUnis.length >= 3" class="pedestal-head"
                 routerLink="/search" [queryParams]="{ q: rankedUnis[2]._id }">
                <p>{{ rankedUnis[2]._id }}</p>
                <p>{{ rankedUnis[2].totalUpvotes }} Votes</p>
            </div>
            <div class="pedestal-body h-[3rem] bg-[#619B8A]">
                <p>3</p>
            </div>
        </div>
    </div>
</div>
