:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pedestal {
    margin-top: auto;
    text-align: center;
    white-space: wrap;
    overflow-wrap: anywhere
}

.pedestal-head {
    font-weight: bold;
    padding: 0 1rem;
    width: 100%;
    cursor: pointer;
    transition: color 300ms;
}

.pedestal-head:hover {
    color: var(--text-hover);
}

.pedestal-head p {
    width: 100%;
    white-space: wrap;
}

.pedestal-body {
    border: 1px solid var(--border-color);
    font-weight: bold;
    color: white;
    font-size: x-large;
}

.pedestal:first-child {
    border-right: none;
}

.pedestal:nth-child(3) {
    border-left: none;
}

@media (width <= 500px) {
    .pedestal {
        white-space: wrap;
        text-wrap: wrap;
    }
}
