<div class="container"
     *ngIf="isLoggedIn; else notLoggedIn">

    <form [formGroup]="postForm"
          (ngSubmit)="onSubmit()"
          class="post-form flex flex-col gap-2 min-w-2xl mx-auto p-8
         bg-gradient-to-r from-[#1A568E] from-5% via-[#69B3E2] via-33%  to-[#FFD700] to-95%
         rounded-xl shadow-lg text-[#002244] mt-2">
        <h2 class="text-3xl font-bold text-center border-b-2 border-[#002244] pb-2">
            Erstelle einen neuen Post </h2>
        <p class="text-center text-[#002244]">
            Teile <strong>KEINE</strong> Namen oder sensible Informationen <br>
            #wir wollen nicht verklagt werden😅! </p>

        <label for="content"
               class="font-semibold text-[#FFFFFF] text-lg">
            Deine Story
        </label>

        <textarea id="content"
                  formControlName="content"
                  placeholder="Erzähle dein Uni-fail..."
                  class="p-3 border-2 border-[#FFA500] rounded-md text-base bg-white resize-y min-h-[120px]
           focus:outline-none focus:ring-2 focus:ring-[#FFA500] text-[#1A568E]"></textarea>

        <label for="tags"
               class="font-semibold text-[#FFFFFF] text-lg">
            Tags
        </label>
        <input id="tags"
               formControlName="tags"
               placeholder="z.B. der Name deiner Uni ..."
               class="p-3 border-2 border-[#FFA500] rounded-md text-base bg-white
           focus:outline-none focus:ring-2 focus:ring-[#FFA500] text-[#1A568E]"/>

        <button type="submit"
                [disabled]="postForm.invalid"
                [ngClass]="{
    'cursor-not-allowed opacity-50': postForm.invalid,
    'hover:text-[#333333] hover:border-[#FFD700]': postForm.valid
  }"
            class="bg-[#FFA500] text-[#1A568E] font-bold py-3 px-6 rounded-md border-2 border-[#FFA500] shadow-md"
        >
            Submit
        </button>

	</form>



</div>

<ng-template #notLoggedIn>
	<div class="w-full bg-[#1A568E] text-[#FFA500] font-bold text-center p-16 rounded-none shadow-[0_0_15px_#333333] mt-2">
		<p class="text-4xl px-4">
			Please <strong>log in</strong> to post your uni-fail!

		</p>
	</div>
</ng-template>


